html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn-social{
    color: black;
}

.jumbotron {
  background-color: #405F85;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #405F85;
}
